body {
    background-color: #FFA07A;
    font-family: 'Press Start 2P', monospace;
    color: #E0FFFF;
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 50px;
    font-weight: bold;
}

.container {
    margin-top: 50px;
}

.row {
}

.col-8 {
}

.col-4 {
}

.col-3.nav_logo {
}

.my_photo {
    background: url("https://raw.githubusercontent.com/DenisBaranov-FEFU/My_Site/main/Me.png") no-repeat center center;
    background-size: 100%;
    width: 230px;
    height: 370px;
}
.nav_logo {
    background: url("https://raw.githubusercontent.com/DenisBaranov-FEFU/My_Site/main/logo.png") no-repeat center center;
    background-size: 100%;
    width: 40px;
    height: 40px;
}
#myButton {
    align-items: center;
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #FF6347;
    color: aliceblue;
    font-weight: bold;
}
.col-9 {
}

.nav_text {
}

.img_size {
}

.title_photo {
}
